<div id="login-main-container" class="full-height main-gradient-background">

  <div class="flex flex-all-center">
      <img src="/src/assets/images/logo.svg" class="medium" alt="Logo">
  </div>

  <div class="flex flex-all-center">
      <div id="login-form-container">
          <div class="center-text mb-1">
              <h1 class="bold" translate>Welcome</h1>

          </div>

          <form (submit)="login()" >

              <div class="mt-2">

              </div>

          </form>
      </div>
  </div>


</div>
